.card {
    max-width: 90%;
}

input.ng-valid.ng-touched, select.ng-valid.ng-touched {
    border: 4px solid lightgreen;
}

input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
    border: 4px solid crimson;
}

.error {
    color: red;
}