<div class="container text-center">
    <h1 class="my-5">Albums</h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
        <div class="col mb-4" *ngFor="let album of albumsArr">
            <div class="card h-100" (click)="onClickAlbum(album)">
                <div class="embed-responsive embed-responsive-16by9">
                    <img [src]="album.coverUrl" class="card-img-top embed-responsive-item" [alt]="album.title">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{album.title}}</h5>
                    <p class="card-text">{{album.year}}</p>
                    <p class="card-text">{{album.genre}}</p>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-outline-success btn-lg my-3" (click)="onClickAdd()">Add album</button>
</div>